Package: schmeckts-server
Version: @VERSION@
Architecture: @ARCH@
Maintainer: hazymorning <schmeckts@localhost>
Installed-Size: @SIZE@
Depends: zenity, pkexec | policykit-1
Section: net
Priority: optional
Description: optionaler Haushalts-Server der App Schmeckts
 Gleicht die Handys eines Haushalts untereinander ab und erkennt Futter auf
 Packungsfotos. Die App braucht ihn nicht, jedes Handy behaelt seine Daten
 selbst. Nur im Heimnetz erreichbar.
