[Desktop Entry]
Type=Application
Name=Schmeckt’s-Server einrichten
Comment=API-Schlüssel eintragen und Handys verbinden
Exec=schmeckts-einrichten
Icon=schmeckts
Terminal=false
Categories=Settings;
Keywords=Schmeckts;Futter;Server;
