[Desktop Entry]
Type=Application
Name=Schmeckt’s-Server einrichten
Comment=Handys verbinden und Foto-Erkennung einrichten
Exec=schmeckts-setup
Icon=schmeckts
Terminal=false
Categories=Settings;
Keywords=Schmeckts;Futter;Server;
